:root {
  --primary-color: #0080ff;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: #fff;
  padding: 2rem;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 12px;
}


/* Desktop and Tablet Styles */
@media (min-width: 768px) {
  .container {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }

  .box {
    background-color: #fff;
    box-sizing: border-box;
    transition: all 0.3s ease;
    width: 90%;
    max-width: 600px;
    min-height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .links a {
    width: 25% !important;
  }
}


h1 {
  color: #333;
  margin: 0;
}

p {
  color: #555;
  margin: 0;
}

#get-ip-btn {
  padding: 0.8rem 1.5rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  width: 100%;
}

.result-box {
  text-align: left;
  display: none;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 1rem;
  background-color: #f9f9f9;
  flex-direction: column;
  gap: 12px;
}

.detail-item {
  font-size: 12px;
}

.label {
  color: #666;
  display: block;
}

.value {
  color: var(--primary-color);
  word-break: break-all;
  display: block;
}

.links {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
  width: 90%;
  max-width: 600px;
}

.links a {
  cursor: pointer;
  color: var(--primary-color);
  padding: 0.7rem 1.5rem;
  text-align: left;
  border-radius: 5px;
  text-decoration: none;
  font-size: 12px;
  width: 100%;
  transition: all 0.2s ease;
}

.links a:hover {
  background-color: var(--primary-color);
  color: #fff;
}